<!DOCTYPE html>
<html lang="en">
<head>
    <title>WTF Open Spaces Board</title>
    <link rel="stylesheet" type="text/css" href="static/TableCSSCode.css">
</head>
<body>
    <div style="width:800px;margin-left:30px;">
    <div class="CSSTableGenerator">
      <table >
        <tr>
          {% for column in range(columns) %}
            <td>Column {{ column }} </td>
          {% endfor %}
        </tr>
        {% for row in range(rows) %}
          <tr>
            {% for column in range(columns) %}
              <td>Item {{ column }}-{{ row }} </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</body>
</html>
